.DS_Store
.idea/
.vscode/

#ESP IDF
build/
sdkconfig
sdkconfig.old

*.zip
build/
sdkconfig
sdkconfig.old

.DS_Store
.skip.esp32s2
gerber/
*.idx
.ci
.cache
managed_components/
*.lock
~$*.docx
~$*.xlsx
~$*.pptx
*.mov
*.log
*.fls
cmake-build-*/
__pycache__/
*.aux